<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">

    <mat-form-field appearance="fill" >
      <mat-label>Sélectionner une compétition</mat-label>
      <mat-select [(value)]="indexCompetitionSelectionne" (selectionChange)="onCompetitionChange($event.value)">
        <mat-option *ngFor="let competition of competitionsDispo" [value]="competition">
          {{ competition }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-nav-list>
      <mat-list-item *ngFor="let mois of moisDispo" (click)="onMoisChange(mois)">
        <span>{{ mois.name }}</span>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Contenu principal -->

    <mat-toolbar color="primary" class="mobile-toolbar">
      <button mat-icon-button (click)="drawer.toggle()" class="mobile-toggle-button">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <app-classement-mensuel [moisSelectionne]="moisSelectionne"></app-classement-mensuel>

  </mat-sidenav-content>
</mat-sidenav-container>