<mat-toolbar color="primary" class="header-toolbar">
    <div class="header-container">
        <!-- Logo gauche -->
        <img [src]="resultatsService.imageLocationUrl + 'logoCompetition.jpg'" 
     alt="logo Competition" class="logo" />

        <!-- Titre centré -->
        <h1 class="title">Compétition de tir de précision</h1>


        <!-- Logo droite (disparaît sur mobile) -->
        <img [src]="resultatsService.imageLocationUrl + 'LogoClubDeTir.jpg'"
            alt="logo club de tir" class="logo logo-right" />
    </div>
</mat-toolbar>