.classement-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.titre-mois {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #333;
}

.aucun-message {
  text-align: center;
  color: #888;
  font-style: italic;
}


.trophy-card-Diamant {
  background: #A7BCBE;
}

.trophy-card-Platine {
  background: #99A0A2;
}

.trophy-card-Or {
  background: #DC9403;
}

.trophy-card-Argent {
  background: #C0C0C0;
}

.trophy-card-Bronze {
  background: #88540B;
}

.trophy-card {
  border-radius: 12px;
  padding: 1rem;
  width: 230px;
  text-align: center;
  color: black;
  box-shadow: 0 0 10px #0006;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}

.trophy-img {
  width: 160px;
  height: auto;
}

.infos {
  margin-top: 0.5rem;

  .nom {
    font-weight: bold;
  }

  .score {
    font-size: 0.9rem;
    color: #260155;
  }
}

.classement-container {
  display: flex;
  flex-direction: column;
  /* Important pour mettre le titre au-dessus */
  align-items: center;
  gap: 1rem;
  /* Un peu d’espace entre les éléments */
}

.trophees {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}



/* Mobile mode : centrer tous les éléments verticalement */
@media (max-width: 768px) {

  .header-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .trophy-card {
    border-radius: 12px;
    padding: 1rem;
    width: 130px;
    text-align: center;
    color: black;
    box-shadow: 0 0 10px #0006;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }

  .trophy-img {
    width: 60px;
    height: auto;
  }

  .infos {
    margin-top: 0.5rem;

    .nom {
      font-weight: bold;
    }

    .score {
      font-size: 0.9rem;
      color: #260155;
    }
  }

}